
#rectangulo{
    stroke: black;
    stroke-width: 10px;
}

#myCanvas{
    border: 1px solid;
}

.ProgressBar {
    width: 16em;
    border: 1px solid black;
    background: #eef;
    height: 1.25em;
    display: block;
}

.ProgressBarText{
    position: absolute;
    font-size: 1em;
    width: 16em;
    text-align: center;
    font-weight: normal;
}

.ProgressBarFill{
    height: 100%;
    background: #aae;
    display: block;
    overflow: visible;
}